:root {
  --first-color: #07588a;
  --second-color: #6ac1b8;
  --third-color: #bfe9db;
  --fourth-color: #e1f6f4;
  --body-font: "Cantarell", sans-serif;
  --header-font: "Fjalla One", sans-serif;
}
body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

.hero {
  background: var(--fourth-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--body-font);
}

.btn-branding {
  background: var(--second-color);
  font-size: 18px;
  border-radius: 4px;
  color: white;
  line-height: 27px;
  padding: 15px 40px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.btn-branding:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0.95;
}
